.aside {
  &__media {
    position: fixed;
    left: 0;
    top: 286px;
  }

  &__icon {
    display: block;
    width: 40px;
    height: 40px;
  }

  &__facebook {
    background: url('../icons/facebook__aside.svg') no-repeat center;
    background-color: #3a579a;
  }

  &__twitter {
    background: url('../icons/twitter__aside.svg') no-repeat center;
    background-color: #00abf0;
  }

  &__telegram {
    background: url('../icons/telegram.svg') no-repeat center;
    background-color: #24a2e0;
  }

  &__pinterest {
    background: url('../icons/pinterest.svg') no-repeat center;
    background-color: #cd1c1f;
  }

  &__robot {
    background: url('../icons/robot.svg') no-repeat center;
    background-color: #fc461e;
  }

  &__like {
    background: url('../icons/like.svg') no-repeat center;
    background-color: #f95149;
  }
}