@import '../utils/variables.scss';
@import '../styles/blocks/mixin.scss';
@import '../utils/reset.scss';

.footer {
  padding: 28px 15px;

  @include onTablet {
    padding-inline: 20px;
  }

  @include onDesctop {
    padding-inline: 28px;
  }

  &__container {
    padding: 20px;
    background: linear-gradient(to right, #0dd0ba, #2a86e5);
    border-radius: 40px;
  
    @include onTablet {
      padding: 30px 30px 40px;
    }
  
    @include onDesctop {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0 20px;
    }
  }

  &--dark {
    background-color: #0E1219;
  }

  &__logo {
    width: 167px;
    height: 23px;
  }
  
  &__info {
    padding: 0 30px 24px 30px;
  
    @include onTablet {
      padding: 0 72px 30px;
    }
  
    @include onDesctop {
      padding: 0 38px 35px 30px;
    }
  }
  
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #0dd0ba;
  
    @include onTablet {
      text-align: center;
    }
  
    @include onDesctop {
      text-align: unset;
    }
  }
  
  &__description--dark {
    color: $white-color;
  }
  
  &__description--margin {
    margin-bottom: 12px;
  
    @include onTablet {
      margin-bottom: 14px;
    }
  
    @include onDesctop {
      margin-bottom: 12px;
    }
  }
  
  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__icon {
    display: flex;
    margin-block: auto;
    width: 37px;
    height: 37px;
    margin-right: 6.38px;
    background-size: contain;
  
    &:last-child {
      margin-right: 0;
    }
  }

  &__links {
    @include footerGrid;
    margin-bottom: 35px;
  
    @include onTablet {
      margin-bottom: 32px;
    }
  
    @include onDesctop {
      margin-bottom: 64px;
    }
  }
}

.about__us {
  background-color: $white-color;
  border-radius: 20px;
  margin-bottom: 23px;
  padding-bottom: 27px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.29);

  @include onTablet {
    margin-bottom: 30px;
  }

  @include onDesctop {
    width: 351px;
    height: 394px;
    padding-bottom: 21px;
    margin-bottom: 0;
    margin-right: 70px;
  }

  &--dark {
    background-color: #202434;
  }
}


.logo__container {
  display: flex;
  justify-content: center;
  padding-block: 72.5px 65.5px;
  text-align: center;

  @include onTablet {
    padding-block: 58.5px 54.5px;
  }

  @include onDesctop {
    padding-block: 85.5px 65.5px;
  }
}

.facebook__footer {
  background: url('../icons/facebook__green.svg') no-repeat center;
}

.twitter__footer {
  background: url('../icons/twitter__green.svg') no-repeat center;
}

.instagram__footer {
  background: url('../icons/instagram__green.svg') no-repeat center;
}

.youtube__footer {
  background: url('../icons/youtube__green.svg') no-repeat center;
}

.gmail__footer {
  background: url('../icons/gmail__green.svg') no-repeat center;
}

.wifi__footer {
  background: url('../icons/wifi__green.svg') no-repeat center;
}

.facebook__footer--dark {
  background: url('../icons/dark__facebook.svg') no-repeat center;
}

.twitter__footer--dark {
  background: url('../icons/dark__twitter.svg') no-repeat center;
}

.instagram__footer--dark {
  background: url('../icons/dark__instagram.svg') no-repeat center;
}

.youtube__footer--dark {
  background: url('../icons/dark__youtube.svg') no-repeat center;
}

.gmail__footer--dark {
  background: url('../icons/dark__gmail.svg') no-repeat center;
}

.wifi__footer--dark {
  background: url('../icons/dark__wifi.svg') no-repeat center;
}

.categhory {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
  color: $white-color;
  text-align: center;

  @include onTablet {
    line-height: 36px;
  }
}

.items {
  @include onDesctop {
    list-style: disc;
    color: $white-color;
    padding-left: 20px;
  }
}

.item {
  text-align: center;
  margin-bottom: 3px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include onDesctop {
    text-align: unset;
  }
}

.item__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $white-color;
  text-decoration: none;

  @include onTablet {
    line-height: 23px;
  }
}

.categhory__container {
  margin-bottom: 28px;

  @include onTablet {
    margin-bottom: 0px;
  }
}

.play__container {
  margin-bottom: 20px;

  @include onTablet {
    margin-bottom: 0px;
  }
}

.copyright {
  font-weight: 400;
  font-style: italic;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.5px;
  text-align: center;
  color: $white-color;

  @include onDesctop {
    text-align: start;
  }
}