@import '../utils/variables.scss';
@import '../utils/reset.scss';
@import '../styles/blocks/mixin.scss';

.main {
  padding-block: 20px 130px;
  max-width: 1170px;

  @include onDesctop {
    padding-block: 46px 130px;
    display: flex;
    justify-content: center;
  }
}

.main--dark {
  background-color: #0E1219;
}

.main__header__wrapper {
  @include onDesctop {
    margin-right: 59px;
  }
}

.main__header {
  margin-bottom: 60px;
}

.main__title {
  margin-bottom: 20px;
}

.main__navigation {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: $grey-color;
  text-align: center;
}

.nav__active {
  font-weight: 700;
  white-space: unset;
}

.main__lorem {
  background: linear-gradient(to right, #0dd0ba, #2a86e5);
  font-weight: 900;
  font-size: 35px;
  letter-spacing: 0.5px;
  text-align: center;
  color: transparent;
  line-height: 45px;
  background-clip: text;

  @include onTablet {
    text-align: unset;
    font-size: 42px;
    line-height: 54px;
  }

  @include onDesctop {}
}

.main__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: $grey-color;
}

.main__description--dark {
  color: $white-color;
}

.main__content {
  padding-top: 6px;
}

.similar__articles {
  font-weight: 700px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: $grey-color;
  margin-bottom: 9px;
}

.similar__articles--dark {
  color: $white-color;
}

.similar {
  padding-left: 10px;
  margin-bottom: 20px;
}

.similar__block {
  width: 44px;
  height: 8px;
  background: linear-gradient(to right, #0dd0ba, #2a86e5);
  border-radius: 20px;
}

.main__cards {
  @include pageGrid;
}

.main__card {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 3px 16px 0px rgba(42, 134, 229, 0.14);

  &:last-child {
    margin-bottom: 0;
  }

  @include onTablet {
    margin-bottom: 0;
  }
}

.card__image {
  display: block;
  display: flex;
  margin: 0 auto 18px;
  width: 310px;
  height: 171px;
  border-radius: 20px;

  @include onDesctop {
    width: 347px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.card__description {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #2a86e5;
  margin-bottom: 10px;
}

.data__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  background: url('../icons/user.svg') no-repeat center;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.icon__text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #b3b3b1;
}

.clock {
  background: url('../icons/clock.svg') no-repeat center;
  width: 12px;
  height: 12px;
  margin-right: 1px;
}

.data {
  display: flex;
  align-items: center;
}

.data__user {
  margin-right: 22px;
}

.main__ads {
  background: linear-gradient(to right, #fcb738, #ef793c);
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(to bottom, #FFF324, #F73A38);
  border-image-slice: 1;
  width: 300px;
  height: 600px;
  border-radius: 20px;
}

.ads__block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 600px;
  border-radius: 20px;
}

.ads__photo {
  position: absolute;
  width: 300px;
  height: 600px;
}

.ads__text {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.5px;
  color: #FCFCFC;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 18px;
}

.ads__size {
  font-weight: 700px;
  font-size: 40px;
  line-height: 23px;
  letter-spacing: 0.5px;
  color: #FCFCFC;
  text-align: center;
}